<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.woniuxy.entity.Emp">
            <id property="eid" column="eid" />
            <result property="empname" column="empname" />
            <result property="did" column="did" />
    </resultMap>

    <sql id="Base_Column_List">
        eid,empname,did
    </sql>
</mapper>
